<div class="content-wrapper">
  <div class="building-selection">
    <app-text-field
      (textChanged)="setFilter($event)"
    ></app-text-field>
    @for (building of buildings; track building.id) {
      <app-button
        class="selection-button"
        (click)="this.selectedBuilding = building"
        [disabled]="this.selectedBuilding == building"
      >
        {{ building.name }}
      </app-button>
    }
  </div>
  <div class="building-display">
    @if (selectedBuilding) {
      <app-building-display
        [data]="selectedBuilding"
      ></app-building-display>
    } @else {
      Select a building.
    }
  </div>
</div>
