@use "../../styles" as *;

:host {
  .content-wrapper {
    display: grid;
    grid-template-areas:
      "lore lore"
      "data description";
    grid-template-columns: 20% 1fr;
    gap: $size-xs;

    .lore {
      grid-area: lore;
      font-style: italic;
    }

    .data {
      grid-area: data;
      display: flex;
      flex-direction: row;
      width: 100%;
      font-size: $font-sm;

      ul {
        list-style: none;
        padding: 0;
      }
    }

    .description {
      grid-area: description;
      text-align: left;
    }
  }
}
