@if (data) {
<app-panel>
  <h3 title>
    {{ data.name }}
    <app-user-created-indicator 
      [isUserCreated]="data.isUserCreated ?? false"
      tooltip="User-created">
    </app-user-created-indicator>
  </h3>
  <div class="content-wrapper">
    @if (!isEditing) {
      <p>
        {{ data.description }}
      </p>
      @if (data.features && data.features.length > 0) {
        <div class="features-section">
          <h4>Available Features:</h4>
          <ul class="features-list">
            @for (featureId of data.features; track featureId) {
              <li>{{ getFeatureName(featureId) | async }}</li>
            }
          </ul>
        </div>
      }
      @if (data.isUserCreated) {
        <div class="actions">
          <app-button 
            (click)="startEdit()">
            Edit
          </app-button>
          <app-button 
            (click)="deleteTile()">
            Delete
          </app-button>
        </div>
      }
    } @else {
      <app-tile-form
        [initialData]="editData"
        [isEditing]="true"
        (save)="saveEdit($event)"
        (cancel)="cancelEdit()">
      </app-tile-form>
    }
  </div>
</app-panel>
}
