<app-panel>
  <div class="wrapper">
    <div class="header">
      <h3>Tile Generator</h3>
      @if (!output) {
        <p class="dice-info">Rolls a d6: 1-2 Nothing | 3-4 Feature | 5 Loot | 6 Encounter</p>
      }
    </div>

    <div class="controls">
      <div class="config">
        <div class="control-pairing">
          Type 1
          <app-dropdown-select
            [options]="options"
            (selectedOption)="option1 = $event"
          ></app-dropdown-select>
        </div>
        <div class="control-pairing">
          Type 2
          <app-dropdown-select
            [options]="options"
            (selectedOption)="option2 = $event"
          ></app-dropdown-select>
        </div>
      </div>

      <app-button
        [disabled]="disableGenerate()"
        (click)="this.generate()"
      >Generate
      </app-button>
    </div>

    <div class="output">
      {{ this.output }}
    </div>
  </div>
</app-panel>
