@use "../../styles" as *;
:host {
  display: flex;
  width: 100%;
  flex-direction: column;

  .content-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: $size-xxs;
    gap: $size-xxs;

    .option-selection {
    }

    .option-display {
      width: 100%;
      height: fit-content;
    }
  }
}
