@use "../../styles" as *;

:host {
  display: flex;
  width: 100%;
  flex-direction: column;

  .content-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: $size-m;

    .categories {
      grid-area: nav;
      display: flex;
      flex-direction: row;
      width: 100%;
      gap: 0;
      border: 1px solid black;
      padding: 0;
      height: 100%;

      .category-button {
        border: none;
        border-right: 1px solid black;
        cursor: pointer;
      }

      button.active {
        cursor: unset;
        background-color: #333333;
        color: white;
      }
    }

    .content {
      width: 100%;
    }

    .selec {
      grid-area: select;
    }
  }
}
