@use "../../styles" as *;

:host {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  overflow: hidden;

  .content-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: $size-m;
    overflow: hidden;

    .categories {
      grid-area: nav;
      display: flex;
      flex-direction: row;
      width: 100%;
      gap: 0;
      border: 1px solid black;
      padding: 0;
      flex-shrink: 0;

      .category-button {
        border: none;
        border-right: 1px solid black;
        cursor: pointer;
      }

      button.active {
        cursor: unset;
        background-color: #333333;
        color: white;
      }
    }

    .content {
      width: 100%;
      flex: 1;
      overflow: hidden;
      min-height: 0;
    }

    .selec {
      grid-area: select;
    }
  }
}
