<div class="tabs-container">
  <div class="tabs-header">
    <div class="tabs-list">
      @for (tab of tabs; track tab.id) {
        <button 
          class="tab-button"
          [class.active]="isTabActive(tab.id)"
          [class.disabled]="tab.disabled"
          [disabled]="tab.disabled"
          (click)="selectTab(tab.id)"
        >
          @if (tab.icon) {
            <span class="tab-icon">{{ tab.icon }}</span>
          }
          <span class="tab-label">{{ tab.label }}</span>
        </button>
      }
    </div>
  </div>
  
  <div class="tabs-content">
    <ng-content></ng-content>
  </div>
</div>