@use "../../../../styles" as *;

:host {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: $size-m;

    li {
      box-sizing: border-box;
    }

    //Mobile
    @media (max-width: $mobile-layout) {
      display: flex;
      li {
        display: inline-block;
      }
    }
  }
}
