@use "../../../../../styles" as *;

:host {
  .button {
    width: 100%;
    text-align: center;
    padding: $size-xs;
    cursor: pointer;
  }

  .button:hover {
  }

  .active {
    pointer-events: none;
    cursor: default;
    background-color: unset;
    border: 1px solid transparent;
  }
}
