@use "../../styles" as *;

.content-wrapper {
  border: 1px solid black;
  border-radius: $size-xxs;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 0;

  h3 {
    padding: $size-xxs;
    margin: 0;
    background-color: grey;
  }

  .content {
    padding: $size-s;
  }
}
